.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3f51b5;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar-link {
    text-decoration: none;
    color: white;
}